@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: #FFFFFF;
    --text-primary: #0F172A;
    --accent-blue: #2563EB;
    --border-soft: #E2E8F0;
  }

  .dark-theme {
    --bg-primary: #020617; /* Deep Navy Black */
    --text-primary: #F8FAFC;
    --accent-primary: #c5a059; /* Gold */
    --accent-indigo: #6366F1;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    @apply antialiased text-slate-900 bg-white font-dmsans;
  }
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f8fafc;
}
::-webkit-scrollbar-thumb {
  background: #02112e;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c5a059;
}

/* Modern Selection */
::selection {
  background: #c5a059;
  color: #02112e;
}
